body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  color: #505050;
}

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.topOption {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.topBtn svg {
  transition: 0.1s;
  margin-top: 4px;
  padding: 6px;
}
button{
  border: none;
  border-radius: 8px;
  padding: 6px;
  color: white;
}

#nawArrows {
  display: flex;
  padding-top: 2px;
}
.topBtn{
  transition: 0.1s;
}
.topBtn:hover {
  transition: 0.1s;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 12px;
}
.topBtn:active {
  transition: 0.1s;
  background-color: #e6e6e6;
  cursor: pointer;
  border-radius: 14px;
}
#selectedDate{
  color: #505050;
  font-weight: 400;
  text-align: center;
  overflow: visible;
  min-width: 180px;
}
.navContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  width: 70%;
}
#formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#userFormContainer{
  backdrop-filter: blur(5px);
  border: 1px solid #505050;
  display: flex;
  border-radius: 11px;
  min-width: 48%;
  min-height: 42%;
  margin-bottom: 6%;
  flex-direction: row;
  overflow: hidden;
}
#userForm{
  flex:1;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projectPresentation{
  padding: 22px;
  background-color: rgba(200, 200, 200, 0.55);
  border-left: 1px solid #505050;
  flex:1;
  max-width: 420px;
}
form{
  display: flex;
  flex-direction: column;
  max-width: 420px;
  min-height: 300px;
}
#loginOptions {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#loginOptions input{
  flex: 1;
  background-color: #06a536;
  border: none;
  border-radius: 8px;
}
#loginOptions button{
  flex: 1;
  background-color: #0b6ac4;
}