body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #505050;
}

#app {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.topOption {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.topBtn svg {
    transition: 0.1s;
    margin-top: 4px;
    padding: 6px;
}

button {
    border: none;
    border-radius: 8px;
    padding: 6px;
    color: white;
}

#nawArrows {
    display: flex;
    padding-top: 2px;
}

.topBtn {
    transition: 0.1s;
}

.topBtn:hover {
    transition: 0.1s;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 12px;
}

.topBtn:active {
    transition: 0.1s;
    background-color: #e6e6e6;
    cursor: pointer;
    border-radius: 14px;
}

#selectedDate {
    color: #505050;
    font-weight: 400;
    text-align: center;
    overflow: visible;
    min-width: 180px;
}

.navContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    width: 70%;
}

#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#userFormContainer {
    backdrop-filter: blur(5px);
    border: 1px solid #505050;
    display: flex;
    border-radius: 11px;
    width: 62%;
    min-width: 300px;
    min-height: 60%;
    margin-bottom: 6%;
    flex-direction: row;
    overflow: hidden;
}

#userForm {
    flex: 2;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: white;
    min-width: 360px;
}

#projectPresentation {
    flex: 3;
    padding: 22px;
    background-color: rgba(186, 186, 186, 0.55);
    border-left: 1px solid #505050;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type = email], form input[type = password], form input[type = text] {
    outline: none;
    border: none;
    border-bottom: 1px solid #a1a1a1;
    min-width: 300px;
    padding: 8px 8px 14px 8px;
    margin: 10px 0;
    transition: 1s;
}

h6 {
    font-weight: 100;
    margin: 0;
    text-align: center;
    max-width: 300px;
}

form input[type = submit] {
    outline: none;
    border: none;
    color: white;
    height: 32px;
    padding: 6px;
    margin: 12px 0;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 4px black;
    background: #44c677;
    transition: 0.5s;
}
form input[type = submit]:hover {
    box-shadow: 0 1px 7px black;
    background: #2bbf65;
    transition: 0.5s;
}

.actionBtn {
    color: #5e0bec;
    text-decoration: underline;
    cursor: pointer;
}

#formContainer {
    background: url('../public/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.errorMessage{
    color: #b30000;
    font-size: 14px;
}
.termsOfUse{
    display: flex;
    padding: 6px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
.checkbox{
    width: 14px;
}
label{
    font-size: 12px;
}

#mainGrid {
    overflow-y: scroll;
    height: calc(100vh - 112px);
    display: grid;
    grid-template-columns: 20px repeat(7, 1fr);
    border-bottom: 1px solid #d1d1d1;
}

.columnGrid {
    display: flex;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid #d1d1d1;
    padding: 5px 5px 0px 0px;
    margin: 0px 12px 0px 20px;
}

.dayName {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monthDay {
    font-size: 26px;
    color: #505050;
}

#gridContainer {
    /* change its name */
    width: 100%;
}